.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  background-color: #ffffff; /* Make sure the header has a white background */
}
.spacer {
  flex: 1 1 auto;
}
.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333; /* Darker color for text contrast */
}
.cart-button {
  margin-right: 16px;
}
.cart-badge{
  background-color: #FFA804; /* Orange color */
  color: #ffffff; /* White text */
  border-radius: 50%; /* Circular shape */
  padding: 4px 8px; /* Padding around text */
  font-size: 0.8rem; /* Smaller text */
  position: absolute; /* Position badge relative to cart button */
  top: -8px; /* Move badge up */
  right: -8px; /* Move badge right */
}