.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}
.product-card {
  max-width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.filler {
  flex-grow: 1;
}
.add-to-cart-button:hover {
  background-color: #e55d50;
}
.footer {
  justify-content: space-between;
}